a {
  color: #41C7DB;
     text-decoration: none;
}

a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
  color: white;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {

  padding: 20px 0;
  height: 30px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #003366;
  z-index: 997;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 32px;
  margin: 0;

  line-height: 1;
  font-family: "Open Sans", sans-serif;
    font-weight: normal;
    margin-left: 10px;

  letter-spacing: 3px;
  text-transform: uppercase;
}



#header #logo h1 a:hover{
  color: white;
}

#header #logo img {
  padding: 0;
  margin: 0;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}


/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
    margin-right: 10px;
}


/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;

  /* link colors */
  color: #99FFFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  outline: none;
}

/* distance between li */
.nav-menu > li {
  margin-left: 30px;
}


.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;

  /* underline color */
  background-color: #41C7DB;

  /* this makes the link underline */
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* this makes the link underline */
.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-menu ul {
  margin: 4px 0 0 0;
  border: 1px solid #e7e7e7;
}



.allbackground{
    background-color: #CEEBF0;
    text-align: center;
}
.montFont{
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
}

.headbar{
    font-size: 35px;
    color: #2b303a;
    background-color: black;
    height: 90px;
    border-bottom: solid thick #2b303a;
    text-align: left;
    font-family: 'Montserrat';
    margin-top: 0px;
}

.login{
    font-size: 18pt;
    text-align: center;
    align-content: center;
    background-color: #006699;
    font-family: 'Montserrat';
    margin-top: 24px;
    float: left;
    margin-left: 20px;
    color: white;
    border: solid thick #3A7CA5;
}

.headbar h1{
  margin: 0px;
}

.headbar-left{
    float: left;
}

.headbar-right{
    float: right;
    margin-right: 25px;
}

#message-icon{
    color: white;
}

#message-icon:hover{
    cursor: pointer;
}

#myprofile{
  border-bottom: solid thick #2b303a;
  padding-bottom: 15px;
  margin-bottom: 50px;
}



.lawyer-background{
    width: 400px;
    height: 400px;
    background-color: #eee5e9;
    border-style: ridge;
    display: inline-block;
    float: left;
    text-align: center;
    margin: 10px;
    border: solid medium #2b303a;
}

h2{
  color: black;
}

.contacts{
    font-size: 12pt;
    text-align: center;
    align-content: center;
    background-color: #8ae1fc;
    font-family: 'Tahoma';
    margin-top: 24px;
    float: left;
    border: solid medium #2b303a;
}

.messages{
    font-size: 12pt;
    text-align: center;
    align-content: center;
    font-family: 'Tahoma';
    margin-top: 24px;
    float: left;
    margin-left: 20px;
    color: white;
}

.xOut{
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 5px;
    padding-right: 3px;
}
.xOut:hover,
.xOut:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
#all{
  text-align: center;
}

h1{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#pictures{
    float: left;
    margin-left: 50px;
}

#profile-pic{
margin-right: 20px;
}


#info{
    float: left;
    margin-left: 25px;
}

#name{
    text-align: left;
    font-size: 36px;
}

.bolded{
    font-weight:bold;
}

.italic{
    font-style: italic;
}

.bonopro {

}

.headbar-options {

}

.login {

}

.user-options {
	margin-left: 450px;
	margin-right: 200px;
	margin-bottom: 50px;
	margin-top: 50px;

}



.register-text {
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 200px;
	font-size: 70px;
	font-family: 'Tahoma';
}

.tabs {
	margin-left: 250px;
	margin-right: 100px;
	float: left;
}

.user-options button {
	border: 2px #8AE1FC;
	height: 100px;
	width: 200px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	margin-right: 40px;
	margin-left: 30px;
	font-size: 50px;
	text-decoration: none;
	background-color: #8AE1FC;
}

.user-options button a{
	text-decoration: none;
	color: white;
}

.user-options button:hover {
	background-color: #48B8D0;
}


.bigcontainerdivforallofit{
  text-align: left;
  margin-bottom: 0px;
  height: auto;
  padding-top: 90px;
}
#uglysolution{
  margin-top: 300px;
  height: 250px;
  text-align: left;
  width: 1000px;
margin-left: 200px;
padding-top: 90px;
}

#uglysolution2{
  margin-top: 0px;
  height: 250px;
  text-align: left;
  width: 950px;
  margin-left:170px;
  padding-top: 90px;
}

.labelholder{
  height: inherit;
  float: left;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  width: 150px;
  font-weight: bold;
}

.label{
  font-size: 15px;
  font-weight: bold;
}
.label h1{
  font-weight: bold;
  font-size: 15px;
}

.information{
  text-align: left;
  float: left;
  height: 250px;
  width: 500px;
  margin: 0px;
  font-weight: normal;
  margin-right: 50px;
}

.infotext{
  font-size: 15px;
  font-style: italic;
font-weight: normal;
}

#lawyer-logo{
    height:auto;
    width: auto;
    max-height: 240px;
    max-width: 240px;
    float:left;
    align-self: flex-start;
    margin-left: 50px;
    margin-right: 20px;
}

.logo-wrapper{
  height: 240px;
  width: 240px;
  margin-top: 8px;
  float:left;
  margin-right: 20px;
}


.button-wrapper{
    width: inherit;
    height: 50px;
    text-align: left;
    display: block;
    margin-top: 0px;
    cursor: grab;
}


.button-wrapper2{
    width: 200px;
    height: 132px;
    text-align: left;
    display: block;
    margin-top: 0px;
    cursor: grab;
    float: right;
}

.content-button{
    width:200px;
    height: 80px;
    border: solid medium #006699;
    background-color: #006699;
    font-weight: bold;
    font-size: 20px;
    color: white;
    cursor: grab;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-bottom: 30px;
}

.content-button:hover{
  background-color: #053d59;
  transition-duration: 0.4s;
}

.review-button{
    width:100px;
    height: 40px;
    border: solid medium #003366;
    background-color: #006699;
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: grab;
    font-family: 'Open Sans';
    font-weight: bold;
}

.modal-content-button{
    width:200px;
    height: 66px;
    border: solid medium #003366;
    background-color: #006699;
    font-weight: bold;
    font-size: 20px;
    color: white;
    cursor: grab;
    font-family: 'Open Sans';
    font-weight: bold;
}

.modal-content-button:hover{
  background-color: #053d59;
  transition-duration: 0.4s;
}

#recents{
  margin-top: 30px;
}

#modalBox{
  width: 545.1px;
  height: 420px;
  background-color: #eee5e9;
  border: solid thick black;
  text-align: left;
    margin: 15% auto; /* 15% from the top and centered */


}
#stuff{
  float: left;
}
#modalContent{
  height: 130px;
  border: solid thin black;
  font-size: 15px;
  float: left;
  text-align: center;
  padding-left: 15px;
  width: 530px;
}
#modal-crucial{
  height: inherit;
  width: 150px;
}
#modal-other{
  height: inherit;
  width: 100px;
}
#modal-client-name{
  width: inherit;
}
#modal-type{
  width: inherit;
}
#contenty{
  width: 300px;
  float: left;
}
#client-type{
  font-weight: normal;
  text-decoration: underline;
}
#modal-type{
  font-weight: normal;
  text-decoration: underline;
}


#client-budget{
  font-weight: normal;
}
#modal-client-rate{
  font-weight: normal;
}

#client-email{
  font-weight: normal;
  font-style: italic;
}
#modal-client-email{
  font-weight: normal;
  font-style: italic;

}
#modal-client-name{
  text-align: left;
  font-size: 24px;
  color: #2b303a;
  font-weight: bold;
  font-family: 'Tahoma';
  width: inherit;
  font-weight: bold;
}
#modal-client-email{
  font-weight: normal;
  font-style: italic;
  width: inherit;
}
#modal-client-rate{
  font-weight: normal;
}
#modal-type{
  font-weight: normal;
  text-decoration: underline;
}
#client-location{
  font-weight: normal;
}
#modal-client-location{
  font-weight: normal;
}

#decriptiony{
  text-decoration: underline;
  font-weight: bold;
  text-align: left;
}

#extra{
  float: right;
      margin-top: 25px;;
}
#moreInfoButton{
    text-align: center;
    width: 100px;
    height: 40px;
    border: solid medium #48b8d0;
    background-color: #8ae1fc;
    font-weight: bold;
    font-size: 15px;
    cursor: grab;
}

#typey{

  text-align: left;
  font-size: 16px;
  color: #2b303a;
  text-decoration: normal;
  font-family: 'Tahoma';
  width: inherit;
  font-weight: bold;
}

#budgety{

  text-align: left;
  font-size: 16px;
  color: #2b303a;
  font-weight: bold;
  font-family: 'Tahoma';
  width: inherit;
}

#emaily{
  text-align: left;
  font-size: 16px;
  color: #2b303a;
  font-style: normal;
  font-family: 'Tahoma';
  width: inherit;
  font-weight: bold;
}

#addressy{
  text-align: left;
  font-size: 16px;
  color: #2b303a;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Tahoma';
  width: inherit;
}
#moreInfoModal{
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#reviewmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.stars{
    display: inline-block;
    width:7.5em;
    height: 1.5em;
    overflow: none;
    vertical-align: bottom;
}

.stars > input{
    margin-right: -100%;
    opacity: 0;
}
.cover-up{
    width: 150px;
    height: 21px;
    z-index: 2;
    background-color: #eee5e9;
    position: relative;
    margin-top: 3px;
}
.stars > label{
    display: block;
    float: right;
    position: relative;
    background: url(images/star_off.png);
    background-size: contain;
}

.stars > label:before{
    content: '';
    display: block;
    width: 1.5em;
    height: 1.5em;
    background: url(images/star_on.png);
    background-size: contain;
    opacity: 0;
    transition: opacity 0.2s linear;
}


.stars > label:hover:before,
.stars > label:hover ~ label:before,
.stars:not(:hover) > :checked ~ label:before{
    opacity: 1;
}
#modalBox2 {
    background-color: #eee5e9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}
.rating{
    font-size: 15px;
    text-align: center;
    margin: 0px;
    width: inherit;
}
#reviewTextarea
{
    max-width: 300px;
    max-height: 300px;

        margin-top: 3px;
}

/* Snackbar adapted from https://www.w3schools.com/howto/howto_js_snackbar.asp */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #006699;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 4;
    left: 50%;
    bottom: 40px;
    font-family: "Open Sans";
}

#snackbar.show {
    visibility: visible;

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
